 div.logo {
     content:url(/images/Logo-Big.png);
     vertical-align: text-top;
     width: 125px;
}
 .bg-dark{
     background-color: #252830 !important;
}
 .footer {
     position: absolute;
     bottom: 0;
     width: 100%;
     height: 60px;
     line-height: 60px;
}
 .footer > .container {
     padding-right: 15px;
     padding-left: 15px;
}
 code {
     font-size: 80%;
}
 html {
     position: relative;
     min-height: 100%;
}
 body {
     overflow-x: hidden;
}
 body.sticky-footer {
     margin-bottom: 56px;
}
 body.sticky-footer .content-wrapper {
     min-height: calc(100vh - 56px - 56px);
}
 body.fixed-nav {
     padding-top: 56px;
}
 #mainNav .navbar-brand {
     width: 50px;
}
 #mainNav .navbar-collapse {
     overflow: visible;
     max-height: none;
}
 #mainNav .navbar-collapse .navbar-sidenav {
     position: absolute;
     top: 0;
     left: 0;
     overflow-x: hidden;
     overflow-y: auto;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
     margin-top: 56px;
}
 #mainNav .navbar-collapse .navbar-sidenav > .nav-item {
     width: 50px;
     padding: 0;
}
 #mainNav .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
     padding: 1em;
}
 .content-wrapper {
     min-height: calc(100vh - 56px);
     padding-top: 1rem;
     overflow-x: hidden;
     background: white;
     margin-left: 50px;
}
 